.qv-object-nmcead-table div.qv-object-content-container {
	overflow: auto;
}
.qv-object-nmcead-table td,
.qv-object-nmcead-table th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-nmcead-table td.numeric {
	text-align: right;
}
.qv-object-nmcead-table button {
	width: 100%;
}

.nmcead-container {
	
}