:root {
    --primary-bg-color: #6457A6; /* Ultra violet */
    --secondary-bg-color: #98D2EB; /* Sky blue */
    --tertiary-bg-color: #E1F2FE; /* Alice blue */

    --fuels-image: url(/appcontent/0695026d-95cb-40bc-8db3-f19e944f9994/j43-fuels.jpg);
    --munitions-image: url(/appcontent/0695026d-95cb-40bc-8db3-f19e944f9994/j43-munitions.jpg);
    --multinational-image: url(/appcontent/0695026d-95cb-40bc-8db3-f19e944f9994/j43-multinational-1.jpg);
    --jloc-image: url(/appcontent/0695026d-95cb-40bc-8db3-f19e944f9994/j43-jloc.jpg);
    --pddoc-image: url(/appcontent/0695026d-95cb-40bc-8db3-f19e944f9994/j43-ddoc-3.jpg);
}

.j43-header {
    box-sizing: border-box;
    height: 10%;
    gap: 1rem;
    position: relative;
    /* margin-top: 26px; */
}

.j43-logo-container {
    max-width: 100px;
    box-sizing: border-box;
    position: absolute;
    top: -50%;
    left: 10px;
    z-index: 5;
}

.j43-logo {
    display: block;
    width: 100%;
}

.j43-page-title {
    height: 100%;

    flex: 1;
    align-items: center;
    background-color: steelblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    font-size: 2rem;
    /* height:7%; */
    justify-content: center;
    padding: 0.25rem;
    text-align: center;
    width: 100%;
    position: relative;
}


.j43-card-wrapper {
    box-sizing: border-box;
    height: 90%;
    padding: 1rem;
    /* margin-top: 1rem; */
}

.j43-card-container {
    align-items: center;
    /* background-color: #FFF; */
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 0.5rem;
    justify-content: center;
}