<div class="j43-app" qv-extension>
  <header class="j43-header">
    <div class="j43-logo-container">
      <img class="j43-logo" src="{{pacomLogoUrl}}" />
    </div>
    <h1 class="j43-page-title">{{ pageTitle }}</h1>
  </header>

  <div class="j43-card-wrapper">
    <div class="j43-card-container">
      <div class="col" ng-repeat="menuItem in menuItems">
        <div
          class="container {{ menuItem.cardClass || makeClassFromTitle(menuItem) }}"
        >
          <div class="front cover-image" tabindex="0">
            <div
              ng-if="menuItem.isComingSoon"
              class="coming-soon-ribbon ribbon-top-left"
            >
              <span>COMING SOON</span>
            </div>
            <div class="inner">
              <p ng-bind-html="menuItem.cardTitle"></p>
              <span ng-bind-html="menuItem.cardSubtitle"></span>
            </div>
          </div>
          <div class="back" tabindex="0">
            <h5 class="card-back-title">{{menuItem.cardBackTitle}}</h5>
            <div class="inner">
              <p>{{ menuItem.cardDescription }}</p>
            </div>
            <a ng-if="menuItem.cardIsVisitButtonEnabled"
              >{{ menuItem.cardVisitButtonText ||"VISIT"}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
