:root {
    --column-width: 3rem;
}

* {
    box-sizing: border-box;
}

.qv-object-nmcead-table div.qv-object-content-container {
	overflow: auto;
}
.qv-object-nmcead-table td,
.qv-object-nmcead-table th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-nmcead-table td.numeric {
	text-align: right;
}
.qv-object-nmcead-table button {
	width: 100%;
}

/** Colors **/

.bg-blue {
    background-color:darkslateblue;
    color: white;
}

.bg-blue-light-1 {
    background-color:cadetblue;
}

.bg-blue-light-2 {
    background-color:aliceblue;
}

.bg-green {

}

.bg-yellow {

}

.bg-red {
    
}



/****/

/** KPI Styles **/

.nmcead-title {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.nmcead-kpi-container {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.nmcead-kpi {
    flex: 1;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;

    transition: all 0.15s ease-in-out
}

.nmcead-kpi:hover {
    box-shadow: rgba(99, 99, 99, 0.4) 0px 8px 10px 0px;
}

.nmcead-kpi-header {
    margin-bottom: 1rem;
}

.nmcead-kpi-body {
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.status-green {
    background-color: #00FF00; /* Green */
    color: #FFF;
}

.status-red {
    background-color: #FF0000; /* Red */
    color: #FFF;
}

/****************/


/*** Tab Styles ***/

.nmcead-tabs {
    margin-bottom: 1rem;
}

.nmcead-tabs > .nmcead-tab-header-container {
    display: flex;
    gap: 1rem;
}

.nmcead-tabs > .nmcead-tab-header-container > .tab-header {
    border: 2px solid steelblue;
    border-radius: 7px;

    padding: 0.5rem 1.25rem;
    overflow: hidden;
    position: relative;
    
    background-color: #FFF;
    color: steelblue;
    text-align: center;
    transition: all 0.25s ease-in-out;
    
    min-width: 125px;
}

.nmcead-tabs > .nmcead-tab-header-container > .tab-header.current {
    z-index: 1000;
    background-color: steelblue;
    color: #fff;
}

.nmcead-tabs > .nmcead-tab-header-container > .tab-header:hover {
    cursor: pointer;
    background-color: lightslategray;
    color: #fff;
}


/******************/

/** Styles to show a tab container **/

.nmcead-missions-manning-container,
.nmcead-infrastructure-container,
.nmcead-qrt-container {
    display: none;
    min-height: 100vh;
}

.show {
    display: block;
}

/********************************/


/* Shared styles for tables */
.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    text-align: center;
}

.cell {
    padding: 0.5rem 0.75rem;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.cell-gray {
    background-color: #f2f2f2;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}

.cell-white {
    border-right: 1px solid #FFF;
    border-left: 1px solid #f2f2f2;
}

/* Shared table header styles */
.nmcead-missions-and-manning-header > *,
.nmcead-infrastructure-header > *,
.nmcead-qrt-header > * {
    border: 1px solid #f2f2f2;
    background-color: #b5b5b5;
    color: black;

    font-weight: bold;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}