<div qv-extension style="height: 100%; position: relative; overflow: auto">
  <!-- KPIs -->
  <div class="nmcead-title">
    <h1>Navy Munitions Command, East Asia Division</h1>
  </div>
  <div class="nmcead-kpi-container">
    <div class="nmcead-kpi">
      <div class="nmcead-kpi-header">Infrastructure</div>
      <div class="nmcead-kpi-body status-green">Status: GOOD</div>
    </div>
    <div class="nmcead-kpi">
      <div class="nmcead-kpi-header">Missions/Manning</div>
      <div class="nmcead-kpi-body status-red">Status: Critical</div>
    </div>
    <div class="nmcead-kpi">
      <div class="nmcead-kpi-header">Quick Response Team</div>
      <div class="nmcead-kpi-body status-green">Status: GOOD</div>
    </div>
  </div>

  <!--------------------------------->

  <!-- Tabs -->
  <div class="nmcead-tabs">
    <div class="nmcead-tab-header-container">
      <div
        class="tab-header{{isCurrentTab(1) ? ' current': ''}}"
        ng-click="setCurrentTab(1)"
      >
        Infrastructure
      </div>
      <div
        class="tab-header{{isCurrentTab(2) ? ' current': ''}}"
        ng-click="setCurrentTab(2)"
      >
        Missions/Manning
      </div>
      <div
        class="tab-header{{isCurrentTab(3) ? ' current': ''}}"
        ng-click="setCurrentTab(3)"
      >
        QRT
      </div>
    </div>
    <div class="nmc-tab"></div>
  </div>
  <!----------->

  <div
    class="nmcead-missions-manning-container{{isCurrentTab(2) ? ' show': ''}}"
  >
    <div class="nmcead-header">
      <div class="empty"></div>
      <div class="title bg-blue">NMCPAC MISSIONS/MANNING</div>
      <div class="unit-name">UNIT NAME</div>
      <div class="overall-status vertical-text">OVERALL STATUS</div>

      <!-- MISSION CAPS -->

      <div class="mission-caps">MISSION CAPS</div>
      <div
        ng-repeat="missionCap in missionCaps track by $index"
        ng-value="{{$index}}"
        class="mission-cap vertical-text"
        style="grid-column-start: {{$index + 6}};
            grid-column-end: {{$index + 7}};
            grid-row-start: 2;
            grid-row-end: 7;"
      >
        {{ missionCap }}
      </div>

      <!-- MAINTENANCE CAPS -->

      <div class="maintenance-caps">MAINTENANCE CAPS</div>
      <div class="maintenance-caps-intermediate">Intermediate</div>
      <div class="maintenance-caps-limited">Limited</div>
      <div
        ng-repeat="maintenanceCap in maintenanceCaps track by $index"
        ng-value="{{$index}}"
        class="maintenance-cap vertical-text"
        style="grid-column-start: {{$index + 23}};
            grid-column-end: {{$index + 24}};
            grid-row-start: 3;
            grid-row-end: 7;"
      >
        {{ maintenanceCap }}
      </div>

      <!-- Unit/Team Manning -->

      <div class="unit-team-manning">Unit/Team Manning</div>
      <div
        ng-repeat="unit in unitTeamManning track by $index"
        ng-value="{{$index}}"
        class="unit-team-manning-column vertical-text"
        style="grid-column-start: {{$index+ 31}};
          grid-column-end: {{$index+ 32}};
          grid-row-start: 2;
          grid-row-end: 7;"
      >
        {{ unit }}
      </div>
    </div>

    <div class="nmcead-body">
      <div class="ead-row-header vertical-text bg-blue-light-1">EAD</div>
      <div class="cwd-row-header vertical-text bg-blue-light-2">CWD</div>

      <div
        ng-repeat="eadCell in eadRows track by $index"
        ng-value="{{$index}}"
        class="{{ ($index % 31 === 0) ? 'row-unit-name' : 'row-cell'}}"
      >
        {{eadCell}}
      </div>

      <div
        ng-repeat="cwdCell in cwdRows track by $index"
        ng-value="{{$index}}"
        class="{{ ($index % 31 === 0) ? 'row-unit-name' : 'row-cell'}}"
      >
        {{cwdCell}}
      </div>
    </div>
  </div>

  <div class="nmcead-infrastructure-container{{isCurrentTab(1) ? ' show': ''}}">
    <h1>Infrastructure Container</h1>
  </div>

  <div class="nmcead-qrt-container{{isCurrentTab(3) ? ' show': ''}}">
    <h1>QRT Container</h1>
  </div>
</div>
