<div qv-extension style="height: 100%; position: relative; overflow: auto">
  <!-- KPIs -->
  <div class="nmcead-title">
    <h1>Navy Munitions Command, East Asia Division</h1>
  </div>
  <div class="nmcead-kpi-container">
    <div class="nmcead-kpi" ng-click="setCurrentTab(1)">
      <div class="nmcead-kpi-header">Infrastructure</div>
      <div class="nmcead-kpi-body status-green">Status: GOOD</div>
    </div>
    <div class="nmcead-kpi" ng-click="setCurrentTab(2)">
      <div class="nmcead-kpi-header">Missions/Manning</div>
      <div class="nmcead-kpi-body status-red">Status: Critical</div>
    </div>
    <div class="nmcead-kpi" ng-click="setCurrentTab(3)">
      <div class="nmcead-kpi-header">Quick Response Team</div>
      <div class="nmcead-kpi-body status-green">Status: GOOD</div>
    </div>
  </div>

  <!--------------------------------->

  <!-- Tabs -->
  <div class="nmcead-tabs">
    <div class="nmcead-tab-header-container">
      <div
        class="tab-header{{isCurrentTab(1) ? ' current': ''}}"
        ng-click="setCurrentTab(1)"
      >
        Infrastructure
      </div>
      <div
        class="tab-header{{isCurrentTab(2) ? ' current': ''}}"
        ng-click="setCurrentTab(2)"
      >
        Missions/Manning
      </div>
      <div
        class="tab-header{{isCurrentTab(3) ? ' current': ''}}"
        ng-click="setCurrentTab(3)"
      >
        QRT
      </div>
    </div>
  </div>
  <!----------->

  <!-- Missions/Manning -->
  <div
    class="nmcead-missions-manning-container{{isCurrentTab(2) ? ' show': ''}}"
  >
    <div class="nmcead-missions-and-manning-header">
      <div
        ng-repeat="header in missionsAndManningsHeaders track by $index"
        class="{{header.className}}"
      >
        {{header.value}}
      </div>
    </div>

    <div class="nmcead-body">
      <div class="ead-row-header vertical-text bg-blue-light-1">EAD</div>
      <div class="cwd-row-header vertical-text bg-blue-light-2">CWD</div>

      <div
        ng-repeat="row in missionsAndManningRows track by $index"
        ng-value="{{$index}}"
        class="{{row.className}}"
      >
        {{row.value}}
      </div>
    </div>
  </div>

  <!-- Infrastructure -->
  <div class="nmcead-infrastructure-container{{isCurrentTab(1) ? ' show': ''}}">
    <div class="nmcead-infrastructure-header">
      <div
        ng-repeat="header in infrastructureHeaders"
        class="{{header.className}}"
      >
        {{ header.value}}
      </div>
    </div>

    <div
      class="nmcead-infrastructure-body"
      style="grid-template-rows: repeat({{infrastructureRowsEadCount+infrastructureRowsCwdCount}}, 1fr)"
    >
      <div
        class="ead-row-header vertical-text bg-blue-light-1"
        style="
          grid-row-start: 1;
          grid-row-end: {{infrastructureRowsEadCount+1}};"
      >
        EAD
      </div>
      <div
        class="cwd-row-header vertical-text bg-blue-light-2"
        style="
          grid-row-start: {{infrastructureRowsEadCount+1}};
          grid-row-end: {{infrastructureRowsEadCount+infrastructureRowsCwdCount+1}};"
      >
        CWD
      </div>

      <div
        ng-repeat="row in infrastructureRows track by $index"
        ng-value="{{$index}}"
        class="{{row.className}}"
      >
        {{row.value}}
      </div>
    </div>
  </div>

  <!-- Quick Response Team -->
  <div class="nmcead-qrt-container{{isCurrentTab(3) ? ' show': ''}}">
    <div class="nmcead-qrt-header">
      <div
        ng-repeat="header in quickResponseTeamHeaders"
        class="{{header.className}}"
      >
        {{ header.value}}
      </div>
    </div>

    <div
      class="nmcead-qrt-body"
      style="grid-template-rows: repeat({{quickResponseTeamRowsEadCount+quickResponseTeamRowsCwdCount+quickResponseTeamRowHomeGrownCount}}, 1fr)"
    >
      <div
        class="ead-row-header vertical-text bg-blue-light-1"
        style="
        grid-row-start: 1;
        grid-row-end: {{quickResponseTeamRowsEadCount+1}};"
      >
        EAD
      </div>
      <div
        class="cwd-row-header vertical-text bg-blue-light-2"
        style="
        grid-row-start: {{quickResponseTeamRowsEadCount+1}};
        grid-row-end: {{quickResponseTeamRowsEadCount + quickResponseTeamRowsCwdCount+1}};"
      >
        CWD
      </div>
      <div
        class="homegrown-row-header vertical-text bg-blue-light-2"
        style="
        grid-row-start: {{quickResponseTeamRowsEadCount + quickResponseTeamRowsCwdCount + 1}};
        grid-row-end: {{quickResponseTeamRowsEadCount + quickResponseTeamRowsCwdCount + + quickResponseTeamRowHomeGrownCount + 1}};"
      >
        HOME GROWN
      </div>

      <div
        ng-repeat="row in quickResponseTeamRows track by $index"
        ng-value="{{$index}}"
        class="{{row.className}}"
      >
        {{row.value}}
      </div>
    </div>
  </div>
</div>
