#map-legend {

}

.legend-items {
    position: absolute;
    margin: 1rem 0.5rem;
    margin-bottom: 2rem;
    padding: 0.25rem 0.5rem;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.legend-items.top-right {
    top: 0;
    right: 0;
}

.legend-items.top-left {
    top: 0;
    left: 0;
}

.legend-items.bottom-right {
    bottom: 0;
    right: 0;
}

.legend-items.bottom-left {
    bottom: 0;
    left: 0;
}

.legend-gradient-container {
    margin-top: 0.25rem;
}

.legend-gradient-container > .legend-gradient {
    background: rgb(255,0,0);
    /* background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,154,23,1) 100%); */
    background: linear-gradient(90deg, rgba(51,45,45,1) 0%, rgba(255,0,0,1) 30%, rgba(228,161,27,1) 40%, rgba(20, 164, 77, 1) 50%);
    height: 5px;
}

.legend-items > h4 {
    text-align: center;
    margin-bottom: 0.25rem;
}

.legend-items > .legend-item {
    display: flex;
    gap: 5px;
}

.legend-items > .legend-item > .legend-item-label {
    flex: 1;
}

.legend-items > .legend-item > .legend-item-image {
    /* flex: 1; */
}

.legend-items > .legend-item > .legend-item-image > img {
    max-width: 20px;
}